includes:
	 - phpstan-baseline.neon

parameters:
		parallel:
				maximumNumberOfProcesses: 5

		level: 5

		bootstrapFiles:
				- vendor/autoload.php

		paths:
				- Classes
				- Configuration
				- Resources
