parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$uid\\.$#"
			count: 1
			path: Classes/DataProcessing/FocuspointProcessor.php

		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: Classes/Utility/HelperUtility.php
