<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

{namespace bw=Blueways\BwFocuspointImages\ViewHelpers}

<f:if condition="{field.title}">
    <label class="element{j.cycle}">
        <f:translate key="{field.title}">{field.title}</f:translate>
    </label>
</f:if>
<div class="focus-input-group focus-input-group--{field.type}">
    <f:switch expression="{field.type}">
        <f:case value="text">
            <input class="form-control" type="text" name="{fieldname}" data-focuspointPanelId="x"/>
        </f:case>
        <f:case value="textarea">
            <textarea class="form-control" name="{fieldname}" data-focuspointPanelId="x"></textarea>
        </f:case>
        <f:case value="select">
            <select class="form-control" name="{fieldname}" data-focuspointPanelId="x">
                <f:for each="{field.options}" as="option" key="optionname" iteration="k">
                    <option value="{optionname}">{f:translate(id:'{option}')}</option>
                </f:for>
            </select>
        </f:case>
        <f:case value="link">

            <div class="form-wizards-wrap">
                <div class="form-wizards-element">
                    <div class="input-group t3js-form-field-inputlink">
                        <span class="t3js-form-field-inputlink-icon input-group-addon"></span>
                        <input class="form-control t3js-form-field-inputlink-explanation"
                               data-bs-toggle="tooltip"
                               title=""
                               value=""
                               readonly>
                        <div class="form-control-clearable"><input type="text"
                                                                   id="formengine-input-6138b15cb744c617898547"
                                                                   class="form-control t3js-clearable t3js-form-field-inputlink-input hidden hasDefaultValue t3js-charcounter-initialized"
                                                                   maxlength="1024">
                            <button type="button" tabindex="-1" class="close" style="visibility: hidden;">
                                <core:icon identifier="actions-close" size="small"/>
                            </button>
                        </div>
                        <button class="btn btn-default t3js-form-field-inputlink-explanation-toggle"
                                type="button"
                                title="Linkerläuterung umschalten">
                            <core:icon identifier="{f:if(condition:'{typo3Version}>9', then:'actions-eye-link', else:'actions-version-workspaces-preview-link')}" size="small"/>
                        </button>
                        <input type="hidden"
                               name="data[tt_content][4267][header_link]"
                               value="t3://page?uid=117 _blank css titel">
                    </div>
                </div>
                <div class="form-wizards-items-aside">
                    <a href="#"
                       class="linkbrowser btn btn-default"
                       data-focuspointPanelId="x"
                       data-fieldname="{fieldname}">
                        <core:icon identifier="actions-link" size="small"/>
                    </a>
                </div>
            </div>

        </f:case>
    </f:switch>
</div>

</html>
