.preview-thumbnails-element-image .bw-focuspoint-image {
    position: relative;
}

.preview-thumbnails-element-image .bw-focuspoint-image svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.preview-thumbnails-element-image mask * {
    fill: black;
}
