.focuspoint {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto min-content;
    max-width: 100%;
}

.focuspoint img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-width: 100%;
    height: auto;
}

.focuspoint__svg {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: stretch;
    justify-self: stretch;
    width: 100%;
}

.focuspoint__svg rect:hover {
    opacity: 1;
    fill: transparent;
    stroke-dasharray: 2px;
}

.focuspoint__svg rect:hover + text {
    display: none;
}

.focuspoint__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem;
    display: none;
}

.focuspoint__description p {
    margin: 0;
}
