.focuspoint {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.focuspoint__svg {
    --focuspoint-color: #000000;
    --focuspoint-opacity: 0.3;
    --focuspoint-opacity-hover: 0.5;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    polygon, rect {
        fill: var(--focuspoint-color);
        opacity: var(--focuspoint-opacity);
    }

    polygon:hover, rect:hover {
        opacity: var(--focuspoint-opacity-hover);
    }
}
