<div class="t3js-formengine-field-item">
    {fieldInformation -> f:format.raw()}
    <f:if condition="{wizardConfig.typo3Version} > 12">
        <legend class="form-label t3js-formengine-label">
            <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.focuspoints.title" />
        </legend>
    </f:if>
    <div class="form-wizards-wrap">
        <div class="form-wizards-element">
            <f:if condition="{image.properties.width}">
                <div class="form-control-wrap">
                    <focuspoint-element
                        image="{f:uri.image(image: image, maxWidth: 2000, maxHeight: 2000)}"
                        itemFormElName="{itemFormElName}"
                        itemFormElValue="{itemFormElValue}"
                        wizardConfig="{wizardConfig->f:format.json()}"></focuspoint-element>
                </div>
            </f:if>
        </div>
        <div class="form-wizards-items-bottom">
            {fieldWizard -> f:format.raw()}
        </div>
    </div>
</div>
