<f:layout name="Default" />

<f:section name="Main">

    <f:for each="{images}" as="image" key="key">

        <f:asset.css
            identifier="tx_bwfocuspointimages_focuspoint"
            href="EXT:bw_focuspoint_images/Resources/Public/Css/FocuspointImage.css" />

        <div class="focuspoint">

            <f:image image="{image}" maxWidth="1600" maxHeight="1200" />

            <svg class="focuspoint__svg" xmlns="http://www.w3.org/2000/svg">
                <f:for each="{points.{key}}" as="point" iteration="i">
                    <a xlink:href="{f:uri.typolink(parameter: point.link)}" target="{point.linkTarget}">
                        <rect
                            x="{point.x}%"
                            y="{point.y}%"
                            class="focuspoint__svg__rect"
                            width="{point.width}%"
                            height="{point.height}%" />
                    </a>
                </f:for>
            </svg>
        </div>
    </f:for>
</f:section>
