<f:layout name="Default" />

<f:section name="Main">

    {namespace fi=Blueways\BwFocuspointImages\ViewHelpers}
    {namespace bw=Blueways\BwPlaceholderImages\ViewHelpers}

    <f:for each="{files}" as="file">
        <f:variable name="points" value="{fi:points(file: file)}"/>

        <div class="grid-x">

            <div class="cell medium-auto small-12 medium-order-2">

                <div class="focuspoint">

                    <bw:lazyImage image="{file.originalFile}" title="{file.originalResource.title}" alt="{file.originalResource.alternative}" additionalAttributes="{data-lazy-interchange: '[{f:uri.image(image:file,maxWidth:\'400\')}, small], [{f:uri.image(image:file,maxWidth:\'800\')}, medium], [{f:uri.image(image:file,maxWidth:\'1200\')}, large]', data-lazy-callback: 'RGLazyCallback', data-file-uid: file.uid}" />

                    <svg class="focuspoint__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                        <set id="startAnimation" data-file-uid="{file.uid}" begin="indefinite" />

                        <f:for each="{points}" as="point">
                            <circle class="pulseCircle" cx="{point.textX}%" cy="{point.textY}%" r="0%" fill="none" stroke="#E60018" stroke-width="4">
                                <animate attributeType="SVG" attributeName="r" begin="startAnimation.begin+3s" dur="1.7s" repeatCount="indefinite" from="2%" to="10%"/>
                                <animate attributeType="CSS" attributeName="stroke-width" begin="startAnimation.begin+3s"  dur="1.7s" repeatCount="indefinite" from="4" to="0" />
                                <animate attributeType="CSS" attributeName="opacity" begin="startAnimation.begin+3s"  dur="1.7s" repeatCount="indefinite" from="1" to="0"/>
                            </circle>
                            <f:if condition="{point.x}>50">
                                <f:then>
                                    <rect x="{point.textX}%" y="{point.textY}%" height="1" fill="#E60018" width="0%">
                                        <animate begin="startAnimation.begin+1s" attributeType="SVG" attributeName="width" dur="0.75s" from="0%" to="{point.textXinvert}%" fill="freeze" />
                                    </rect>
                                </f:then>
                                <f:else>
                                    <rect x="{point.textX}%" y="{point.textY}%" height="1" fill="#E60018" width="0">
                                        <animate attributeType="SVG" attributeName="width" begin="startAnimation.begin+1s" dur="0.75s" from="0%" to="{point.textX}%" fill="freeze" />
                                        <animate attributeType="SVG" attributeName="x" begin="startAnimation.begin+1s" dur="0.75s" from="{point.textX}%" to="0%" fill="freeze" />
                                    </rect>
                                </f:else>
                            </f:if>
                        </f:for>
                    </svg>
                </div>

            </div>

            <div class="cell small-12 medium-3 large-4 medium-order-1 cell--relative">
                <f:for each="{points}" as="point">
                    <f:if condition="{point.x} < 50">
                        <div data-file-uid="{file.uid}" class="focuspoint__feature focuspoint__feature--hidden focuspoint__feature--left medium-text-right" style="top:{point.y}%">
                            <h3 class="text-red">{point.name}</h3>
                            <p>{point.description}</p>
                        </div>
                    </f:if>
                </f:for>
            </div>

            <div class="cell small-12 medium-3 large-4 medium-order-3 cell--relative">
                <f:for each="{points}" as="point">
                    <f:if condition="{point.x} > 50">
                        <div data-file-uid="{file.uid}" class="focuspoint__feature focuspoint__feature--hidden focuspoint__feature--right" style="top:{point.y}%">
                            <h3 class="text-red">{point.name}</h3>
                            <p>{point.description}</p>
                        </div>
                    </f:if>
                </f:for>
            </div>
        </div>

    </f:for>

</f:section>
</html>


