<f:layout name="Default" />

<f:section name="Main">

    {namespace fi=Blueways\BwFocuspointImages\ViewHelpers}

    <f:variable name="w" value="800"/>

    <f:for each="{files}" as="file">

        <f:variable name="points" value="{fi:points(file: file)}"/>

        <div class="focuspoint">

            <f:image image="{file.originalFile}" width="{w}" />

            <svg class="focuspoint__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <f:for each="{points}" as="point">
                    <rect class="focuspoint__svg__area" x="{point.x}%" y="{point.y}%" stroke="#000" width="{point.width}%" height="{point.height}%" fill="transparent" />
                    <text class="focuspoint__svg__text" x="{point.textX}%" y="{point.textY}%" alignment-baseline="middle" text-anchor="middle">
                        {point.name}
                    </text>
                </f:for>
            </svg>
        </div>

    </f:for>

    <style type="text/css">
        .focuspoint{
            position: relative;
            display: inline-block;
        }
        .focuspoint__svg{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 100%;
            top:0;
            left:0;
        }
    </style>

</f:section>
</html>


