<f:layout name="Default" />

<f:section name="Main">
    <f:asset.css identifier="tx_bwfocuspointimages_focuspoint" href="EXT:bw_focuspoint_images/Resources/Public/Css/FocuspointImage.css" />

    <f:for each="{images}" as="image" key="key">
        <div class="focuspoint">
            <f:image image="{image}"/>
            <svg viewBox="0 0 {points.{key}.width} {points.{key}.height}" class="focuspoint__svg">
                <f:for each="{points.{key}.areas}" as="area" iteration="i">
                    <a href="{f:uri.typolink(parameter: area.link)}" target="{area.linkTarget}">
                        <polygon points="{area.path}" fill="black" />
                    </a>
                </f:for>
            </svg>
        </div>
    </f:for>
</f:section>
